body { 
    display: flex; 
    justify-content: center; 
    background-color: hsl(212, 45%, 89%); 
    align-items: center; 
    margin: 0; 
    height: 100vh;
} 

.box { 
    background-color: white; 
    border-radius: 10px; 
    padding: 15px; 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
} 

img { 
    height: 250px; 
    width: 250px; 
    border-radius: 10px; 
} 

h2 { 
    font-family: sans-serif, serif; 
    color: hsl(218, 44%, 22%);
    font-size: 18px; 
   
} 

.description { 
    font-size: 15px; 
    font-family: arial, serif;  
    color: hsl(216, 15%, 48%); 
    
    
} 

.writing { 
    text-align: center;
}
